<div class="bg-grey-2 pv4 pd-sm">
	<div class="ph3 mw8 center">

		<div class="flex-l mhn2-l">
			<div>
				<div class="w-90-l ph2-l">
					<h2 class="f2 b lh-title mb3">{{.heading}}</h2>

					<p class="din font-20">{{.text}}</p>
				</div>

				<div class="text-button fl-end-sm">
					<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
				</div>
			</div>
			<div class="w-60-l ph2-l ml6 tc-sm">
				<img src="{{.image}}" alt="product" class="h-330 mt3">
			</div>
		</div>

	</div>
</div>
